/*flexboxes are generally used when we want to make some small UI component on the whole page
and if we want to create the whole page,then use the grids
-> flexxbox is the 1D means having just the row or the column movment
-> grids are the 2D means they have both the rows and the columns movement
*/


.navbar{
    display: flex;
    background-color: rgb(17, 15, 15);
    font-size: 40px;
    width: 100%;
    height: 55px;
}
.image{
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}
.inp{
    width: 60%;
    margin-top: 8px;
    height: 33px;
    margin-left: 10px;
    border-radius: 5px;
}

.btn{
    margin-top: 8px;
    height: 38px;
    height: 
}
.abt{
    color: white;
    text-decoration: none;
    margin-left: 260px;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 4px;
}
.hlp{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 4px;
}
.crt{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 4px;
}

.shp{
    font-size: 50px;
    margin-left: 350px;
}
.log{
    background-color: rgb(94, 141, 244);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content:center;   /*horizontal alignment of the content*/
    align-items:flex-end;    /*vertical alignmrnmt of the content when the flex-direction is row*/
    gap: 20px;
    flex-basis: 200px;
    flex-shrink: 2px;
}
.box_1{
    width: 400px;
    height: 400px;
    background-color: blue;
}
.box_2{
    width: 400px;
    height: 400px;
    background-color: yellow;
}
.box_3{
    width: 400px;
    height: 400px;
    background-color: rgb(255, 81, 0);
}
.box_4{
    width: 400px;
    height: 400px;
    background-color: rgb(224, 220, 231);
}
.box_5{
    width: 400px;
    height: 400px;
    background-color: rgb(241, 85, 12);
}