.navbar{
    display: flex;
    background-color: rgb(17, 15, 15);
    font-size: 40px;
    width: 100%;
    height: 55px;
}
.image{
    width: 100px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}
.inp{
    width: 60%;
    margin-top: 8px;
    height: 33px;
    margin-left: 10px;
    border-radius: 5px;
}

.btn{
    margin-top: 8px;
    height: 38px;
    height: 
}
.abt{
    color: white;
    text-decoration: none;
    margin-left: 260px;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 4px;
}
.hlp{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 4px;
}
.crt{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
    padding-top: 10px;
    margin-top: 4px;
}

.shp{
    font-size: 50px;
    margin-left: 350px;
}
.log{
    background-color: rgb(94, 141, 244);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:space-around;
    gap: 20px;

}

.box{
    height: 400px;
    width: 400px;
    background-color: blue;
    font-size: 35px;
}