.header{
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    background-color: black;
    width: 150px;
    text-align: center;
    margin-left: 660px;
    margin-top: 250px;
    border-radius: 4px;
}
body{
    background-color: burlywood;
}
.form{
    margin-left: 600px;
    margin-right: 620px;
    margin-top: 10px;
    padding: 50px;
    background-color: blue;
    border-radius: 8px;
}
input select{
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}
button{
    background-color: black;
    color: aliceblue;
    width: 70px;
    border-radius: 5px;
}