* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#h1{
    color: red;
    background-color: blue;
}

.newbox{
    color: blue;
    background-color: brown;
    font-size: 40px;
    width: 120px;
}

.d {
    background-color: blue;
    color: black;
    width: 120px;
}

button{
    background-color: rgb(113, 91, 237);
    padding: 20px ;
    margin: 50px;
    border: 10px;
    width: 100px;
}
.btn{
    background-color: rgb(182, 128, 129);
}

.bdy{
     background-image: url("https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630");
    background-repeat: no-repeat;
}
