* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#h1{
    color: red;
    background-color: blue;
}

.newbox{
    color: blue;
    background-color: brown;
    font-size: 40px;

}

.d {
    background-color: blue;
    color: black;
}

