.navbar {
    color: rgb(20, 12, 2);
    background-color: rgb(174, 115, 18);
    width: 100%;
    height: 35px;
    border-radius: 5px;

}

a{
    color: rgb(21, 14, 2);
    padding-right: 30px;padding-left: 5px;
    padding-top: 100px;

}